page {
	background-color: #f1f1f1;
	font-size: 27rpx;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	box-sizing: border-box;
	padding: 10rpx;
}

.snowy-shadow {
	background-color: white;
	box-shadow: 0 1px 1px #ccc;
	border-radius: 10upx;
}


.snowy-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.snowy-bold {
	font-weight: bold;
}

.snowy-flex-end {
	display: flex;
	justify-content: flex-end;
}